/.jenkinscreds
cli.jar
*.code-workspace
/.project
/.bashtools
/.dockertools
Dockerfile.buildlog
**/target/.secrets
**/target/jenkins/*.war
**/target/jenkins/tools/*
**/target/jenkins/ref/plugins
/.cache
/.localconfig
/.cli_temp_dir/
jcasc_update.log