jenkins:
  nodes:
  - permanent:
      name: "b9h15-macos10.15"
      nodeDescription: "macOS 10.15 (Catalina), no login session, hosted on MacStadium"
      labelString: "macos macos-10.15"
      remoteFS: '/Users/genie.releng/jenkins_agent/'
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        ssh:
          credentialsId: "b9h15-macos10.15-bot-ssh"
          host: "208.52.161.179"
          port: 22
          sshHostKeyVerificationStrategy:
            manuallyProvidedKeyVerificationStrategy:
              key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3Mo4/c9Hn6sA594UEGHVxCKbu/QtophcofQIfrX1cJwkxfx/MGjMhllrWw49SfpNPh/VOlR4T7r3xeFq9TM+sDXAii54deTENpqg5q1uBOx9hi+7W8MhKpuJEhwL37kTQHSjcnIcexpm76Tbyd3QtHU3xQzMCjfREfqIAWkWaKbdzNVu1JJRcwqRXDDzPNkoLfYUZtdQi/XiROlX5zYh3/GpQctGkL3y8mdkeUY7RGUDKTjd7osAK59IR30H2KFRfewey9YnMnIKM0cokA8t3KDvAwmXFLQ+iAxG1RFLZQ88iz7agO1clNYFR3+2ersXcMu/AZUoA6sBsBXIJ9419"
      nodeProperties:
      - envVars:
          env:
          - key: "PATH"
            value: '$HOME/.cargo/bin:$PATH'
      - watcher:
          offlineAddresses: "releng@eclipse.org"
          onlineAddresses: "releng@eclipse.org"
  - permanent:
      name: "rs68g-win10"
      nodeDescription: "Windows 10 Pro, hosted on Azure"
      labelString: "windows"
      remoteFS: 'C:\Users\genie.releng\ci'
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        ssh:
          host: "13.68.249.87"
          port: "22"
          credentialsId: "rs68g-win10-ssh"
          javaPath: "\"C:\\Program Files\\AdoptOpenJDK\\jdk-8.0.292.10-hotspot\\bin\\java.exe\""
          sshHostKeyVerificationStrategy:
            manuallyProvidedKeyVerificationStrategy:
              key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDAkHWAKiWv/T3uaCBj8RdbPR4BW3GBdb5Digq4lpwnFc5xCLCZ/Wke6GBEBlai+zJndjm5sNYgKAAGUOFvW1t0ZCFxgS+uZ+tu2eyDoGyCAvS+XzbzN4pEGf3x/2GJE2aWoesrdx/Uhc/8J3cZG04Fy1SsllW36j4e/20PnZaCtPRBuU/9ZlX4pUDKIUDV+7ejOTTViAzxV0IqUQagiKLv1rxgkRQRgy49+oszYbTFmO7Sqy8L20sSRpSjO0eym6CTpbdjJSm70ZjlJNFocwREmlISNtdPPzY56NWQKf6qpzTlw94zZGVV/0WNdapn3pWS3OLIttVB1C1f1nHBdwvmooFgFiTJzfWaqY9wZFy+jNDi8BHHauLYySIh2PT65XWltnnJcwPM/87nk0hESuBglq3580mGbqoqYmoYhVOsJgn0r0HOHoCsfrUkk9EbUzuUh4TmbR9d6c+zrXe/p6XW8MNNoD1FC+IpruUiEIK9sJ25LAdeXP0hupL9SbddlCc="
      nodeProperties:
      - envVars:
          env:
          - key: "JAVA_HOME"
            value: 'C:\Program Files\AdoptOpenJDK\jdk-8.0.292.10-hotspot'
          - key: "PATH"
            value: 'C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\ProgramData\GooGet;C:\Users\SSHD\AppData\Local\Microsoft\WindowsApps;C:\ProgramData\chocolatey\bin'
          - key: "VS90_HOME"
            value: 'C:\Program Files (x86)\Microsoft Visual Studio\2019'
          - key: "VS90COMNTOOLS"
            value: 'C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\Common7\Tools'
      - toolLocation:
          locations:
          - home: 'C:\ProgramData\chocolatey\lib\maven\apache-maven-3.8.1\bin\mvn.cmd'
            key: "hudson.tasks.Maven$MavenInstallation$DescriptorImpl@apache-maven-latest"
          - home: 'C:\ProgramData\chocolatey\bin\ant.bat'
            key: "hudson.tasks.Ant$AntInstallation$DescriptorImpl@apache-ant-1.9.6"
          - home: 'C:\Program Files\AdoptOpenJDK\jdk-8.0.292.10-hotspot\bin\java'
            key: "hudson.model.JDK$DescriptorImpl@jdk1.8.0-latest"
          - home: 'C:\tools\cygwin\bin\git'
            key: "hudson.plugins.git.GitTool$DescriptorImpl@Default"
  - permanent:
      name: "zyt5z-centos83"
      nodeDescription: "Dedicated agent for performance tests, hosted on Azure"
      labelString: "performance docker-build"
      remoteFS: '/home/genie.releng/jenkins'
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        ssh:
          host: "20.231.104.175"
          port: "22"
          credentialsId: "zyt5z-centos83-ssh"
          javaPath: ""
          sshHostKeyVerificationStrategy:
            manuallyProvidedKeyVerificationStrategy:
              key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC6tfKfT8YiNcb3WQOO2t4AmMEGsq+IhxAo2ROEXYrcYDJNWiR7jI4drW1jlOICQKqN5EcvBmTAUegHWuUVE+EVAQm9HrqFtAkJ7bhCcAUTtoMqdYzIR6vQ0LKCMsw6KuGVqsZ2Ub2pkA7CCbJE0CEX5uQFRFd57ngn5+kOJ4TcM9x8N7dEXyIv0lgos9J9JEm/XAlLfsdPomi79KcAE4DTWPkMCgs91aTzTRylIb0iEeReTSljw0UyWdsZgwPEX3ISUM+dWA0nl4W/lyeiEjD8r8EWx8h7POZXlMyYuwysbatrU8hfUlGoLKEKLuzozMfJCgW/v7gITU8J5pXCs4hV1lynM1G0avGnNWBrdeX+PW8abKK015/OZ+28Lt9+ig+BQtIF0S3AcUzzDPTjz1CpO0pq1dh2A2ed5RwHSg18CGzU17s4rnbBsNqZyB34NoUMEb0Lfs2ozucfXsasIhbtTqoo08LopcHagYx0VOHrYv3PPjOEemROmMPiU2xc1i8="
      nodeProperties:
      - toolLocation:
          locations:
          - home: '/usr/bin/ant'
            key: "hudson.tasks.Ant$AntInstallation$DescriptorImpl@apache-ant-1.9.6"
          - home: '/usr/bin/mvn'
            key: "hudson.tasks.Maven$MavenInstallation$DescriptorImpl@apache-maven-latest"
          - home: '/usr/bin/java'
            key: "hudson.model.JDK$DescriptorImpl@jdk1.8.0-latest"
      - watcher:
          offlineAddresses: "releng@eclipse.org"
          onlineAddresses: "releng@eclipse.org"
  - permanent:
      name: "ppc64le-build"
      labelString: "ppcbuild"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "ppcle-buildTest"
      labelString: "ppctest ppcbuild"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "ppcle-test"
      labelString: "ppctest"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "centos-aarch64-1"
      labelString: "aarch64 arm64"
      nodeDescription: "Agent provided by the project"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "centos-aarch64-2"
      labelString: "aarch64 arm64"
      nodeDescription: "Agent provided by the project"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "centos-aarch64-3"
      labelString: "aarch64 arm64"
      nodeDescription: "Agent provided by the project"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      name: "centos-aarch64-4"
      labelString: "aarch64 arm64"
      nodeDescription: "Agent provided by the project"
      remoteFS: "/home/swtbuild/build"
      numExecutors: 1
      mode: EXCLUSIVE
      retentionStrategy: "always"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
  - permanent:
      labelString: "macos macos11"
      launcher:
        ssh:
          credentialsId: "nc1ht-macos11-arm64-bot-ssh"
          host: "208.52.190.236"
          port: 22
          sshHostKeyVerificationStrategy:
            manuallyProvidedKeyVerificationStrategy:
              key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlJ+kqOy9HUXkD3mqw1QCVc7srM8ZMIdtrVeHBSXw9nHWyRymVJYJz6g8685PZpWJ90PPnSqozaE4/RKauzVQZN0UG95r+R7D+4aVNePfe4IRICSqgFohQHJrWEX+EomERJDEshwGaYcUqa9RzqImdChmyjJekP3Nl5CcSLwUhm6DwfEhEAyvcFe1DxO4QERgWIX9tLKvn9f97G52jKGypHvtQAj0KMmpGftJviokhKLLunZnuv6Hn/5kYMFpLg8q0eelHqTjZhAGnowKXOjv1NdubrJilureoMnpTnf0sua9IRyDSgvIbXT1kII+uyRvO6R33twbhjjVeFAuZcoLcDhqMHzQkxHRNPdQDfO/6HOhnvRKfn3QAQ6dkW+SHkjwFu3TWAr+tnYbSLD312jQeIxSQQ+XktzFiqV98gFIKt0IhHrfgZOY8KwvOI0+uEVq12EueLkGcp0XpPyItFj5UBvDJjslV/QoE3EtBseWjJslvmUgzXYcdxpzdk7lLDO8="
      name: "nc1ht-macos11-arm64"
      nodeProperties:
      - toolLocation:
          locations:
          - home: "/usr/local/openjdk-17/Contents/Home/bin"
            key: "hudson.model.JDK$DescriptorImpl@openjdk-jdk17-latest"
          - home: "/Library/Java/JavaVirtualMachines/temurin-11.jdk/Contents/Home/bin"
            key: "hudson.model.JDK$DescriptorImpl@adoptopenjdk-hotspot-jdk11-latest"
      remoteFS: "/Users/genie.releng"
      retentionStrategy: "always"
  - permanent:
      name: "qa6xd-win11"
      labelString: "windows"
      launcher:
        jnlp:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
      mode: EXCLUSIVE
      nodeDescription: "Windows 11 Pro, hosted on Azure"
      nodeProperties:
      - watcher:
          offlineAddresses: "releng@eclipse.org"
          onlineAddresses: "releng@eclipse.org"
      - toolLocation:
          locations:
          - home: "C:\\ProgramData\\chocolatey\\lib\\ant\\tools\\apache-ant-1.10.12"
            key: "hudson.tasks.Ant$AntInstallation$DescriptorImpl@apache-ant-latest"
      remoteFS: "C:\\Users\\genie.releng\\"
      retentionStrategy: "always"