apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "glassfish-maven-repo-storage"
  namespace: "glassfish"
spec:
  accessModes:
    - "ReadWriteMany"
  resources:
    requests:
      storage: "10Gi"
  storageClassName: managed-nfs-storage-bambam