jenkins:
  nodes:
  - permanent:
      name: "b9h15-macos11-x86_64"
      nodeDescription: "MacOS 11, hosted at MacStadium"
      labelString: "macos macos-11"
      launcher:
        ssh:
          credentialsId: "b9h15-macos-bot-ssh"
          host: "208.52.161.179"
          jvmOptions: "-Xmx256m"
          port: 22
          sshHostKeyVerificationStrategy:
            manuallyProvidedKeyVerificationStrategy:
              key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlxEHVKo8Mu6JEHdDOabGlbvZTQISBnCWWUXq2G/csOQwY2CimuzC3BX5ysdORTTnpMtq7Ck75cXMXr1h0mHszU7Pwx5ZPpTvNyWFFt9zMevlViGKy4OWSkq9W8qEL/JsZm1LGtP/lau+26XmE4gId1GAs2urTxbn923XSuFCbSEQAdPs11K8FRK4espEfXqmQ/w6BdiISwy3zB6/HKbOS462Qcar/1J9434nkTicH8bl5lGMfMFo57JsgrYcMFM5zB2GqHORHGsQ/88J/dsoTX1Bn+irZ6JMHx0HrkVJz1zXqDtfs8CH4q8PtFPFuSfEj2WZ7fGcRExqkiZ5mGfqrVsN5cV5vwXPE/EKFjxCgPvfUcmLHEYl00PhvyjScrP2XBJ1cFnHt44Ia0mM5zn69pxLWeuMdwfwk1mS+wAYvmwa0lGK61YupgOBiSyMV1KSYSnlcIyc1mRguZT6x3/qktzX7urJumuOskTnbAX5HdJnr7kWYmrBc4/Uyf8SXfes="
          workDir: "/Users/genie.theia/jenkins_agent/cache"
      nodeProperties:
      - envVars:
          env:
          - key: "NVM_DIR"
            value: "$HOME/.nvm"
          - key: "PATH"
            value: "/usr/local/bin:$PATH"
      - watcher:
          offlineAddresses: "releng@eclipse.org"
          onlineAddresses: "releng@eclipse.org"
      mode: EXCLUSIVE
      numExecutors: 1
      remoteFS: "/Users/genie.theia/jenkins_agent/"
      retentionStrategy: "always"
  - permanent:
      labelString: "windows windows10"
      launcher:
        inbound:
          webSocket: true
          workDirSettings:
            disabled: false
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
      name: "mp23n-windows-10"
      mode: EXCLUSIVE
      nodeDescription: "Windows 10 Pro N, no login session, hosted on Azure"
      nodeProperties:
      - envVars:
          env:
          - key: "Path"
            value: "C:\\Program Files\\Git\\bin;C:\\tools\\cygwin\\bin;C:\\Users\\genie.theia\\AppData\\Roaming\\npm;C:\\Program Files\\nodejs;$Path"
      - watcher:
          offlineAddresses: "releng@eclipse.org"
          onlineAddresses: "releng@eclipse.org"
      numExecutors: 1
      remoteFS: "C:\\Users\\genie.theia\\jenkins_agent"
      retentionStrategy: "always"
tool:
  nodejs:
    installations:
    - name: "node_22.x"
      properties:
      - installSource:
          installers:
          - nodeJSInstaller:
              id: "22.20.0"
              npmPackagesRefreshHours: 72
